@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
font-family: 'PT Sans', sans-serif;
background-color: #000000;
text-decoration-color: #FFFF00;
}

 body {
  text-decoration-color: #FFFF00;
}

p {
  text-decoration-color: #FFFF00;
}

*, *:before, *:after {
box-sizing: inherit;
}

.icon {
  display: inline-block;
  padding: 5%;
  width: 40px;
  text-align: center;
}

footer {
  padding: 5%;
}
