@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Oxygen', sans-serif;
}
.logo {
  width: 100px;
}
*, *:before, *:after {
box-sizing: inherit;
}

.icon {
  display: inline-block;
  width: 35px;
  text-align: center;
}
footer {
  padding: 5%;
  text-align: center;
}

@media only screen and (min-width: 44.4em) {

  html {
    text-align: center;
  }

  .icon {
    width: 36px;
  }
}
